body{
  font-family: 'Roboto';
  padding: 0 25px 0 25px; 
  box-sizing: border-box;
  background-color: rgb(22, 22, 22);
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1{
  color: white
}
main{
  display: flex;  
  align-items: center;
  justify-content: center;
}
section{
  border: 1px solid lightblue; 
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  box-sizing: border-box; 
}
section div{
  margin: 0;
}
.message-box{
  text-align: center;
  border: 1px solid rgb(233, 27, 27); 
  background-color: rgba(235, 30, 30, 0.568);
  padding: 5px;
  width: 100%;
  display: none;
}
.password-box{
  border: 1px solid lightblue; 
  color: white; 
  width: 100%;
  height: 20px;
  padding: 5px; 
  display: flex;
  justify-content: center;
}
#get-length{
  width: 30px;
  height: 30px;
  text-align: center;
}

