body{
  background-color: black;
}
button{
  height: 100px;
  width: 500px; 
  border: 5px solid;
  border-image: linear-gradient(to right, red, blue) 1;
  transition: 0.5s;
  background-color: rgb(61, 55, 55);
  color: white;
  transition: border-image 0.5s;
}
button:hover{
  border-image: linear-gradient(to top, red, blue) 1;
  transition: 0.5s;
  cursor: pointer;
}
button:active{
  border-image: linear-gradient(to left, red, blue) 1;
  transition: 0.15s;
  
}