body{
  padding-left: 25px;
  padding-right: 25px;
}
/*
@keyframes expand {
  from{width: 30%;} 
  to {width: 100%;}
}

@keyframes shrink {
  from{width: 100%;} 
  to {width: 30%;}
}
*/
input{
  height: 30px;
  width: 30%;
  min-width: 30px;
}
input:focus::placeholder{
  font-size: 1.2em;
  color: transparent;
}
input:focus{
  width: 100%;
  height: 500px;
  outline: 1px solid rgba(0, 183, 255, 0.664);
  transition: all 0.7s;
  /*animation: expand 0.8s ease-in-out forwards; */
}
/*
input:not(:focus){
  animation: shrink 0.15s ease-out backwards;
}*/

button{
  border: none; 
  background-color: black;
  color:white;
  width: 300px; 
  height: 30px; 
}
button:hover{
  width: 50%; 
  height: 30px; 
  color: black;
  background-color: grey;
  transition: height 1s, width 0.5s;
}