body{
  background-color: rgb(29, 27, 27);
}
.container{
  width: 450px;
  height: 360px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(99, 97, 97);
}
.container:hover{
  height: 400px;
  transition: height 0.15s;
  hide: 
}
.thumbnail-container{
  margin: 0px;
  width: 100%;
}
.thumbnail-container img{
  width: 100%;
  border-radius: 5px;
}
.text-pfp{
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
}
.pfp-container{
  height: 70%;
  margin-right: 10px;
}
.pfp-container img{
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
}

.text-container div p, .text-container{
  margin: 0;
  color: white;
}

.an{
  height: 3%;
  width:100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}
