body{
  background-color: black;
}
button{
  height: 50px;
  width: 50px;
  border-radius: 100px;
  border: none; 
  color: white;
}


.btn-section{
  display: grid;
  grid-template-columns: 50px 50px 50px 50px; 
  gap: 4px;
  margin-top: 4px; 
}

.input-box{
  border: none; 
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  font-size: 18px;
  margin-left: 10px;
}
.input-box::placeholder{
  color: white;
}

.num-btn{
  background-color: rgb(37, 35, 35);
}
.op-btn{
  background-color: orange;
}