body{
  background-color: #EFE9E3; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Stack Sans Text';
}

.generator-box{
  background-color: white;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px 20px; 
  gap: 10px; 
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(36, 35, 35, 0.377);
}

.title-container{
  width: inherit;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.title-container h4{
  margin: 0; 
}

.generate-button-container{
  width: inherit;
}
.generate-button-container button{
  border: none; 
  padding: 5px 10px; 
  border-radius: 10px; 
}
.generate-button-container button:hover{
  cursor: pointer;
}

.color-palette-container{
  width: inherit;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  align-items: end;
}

.color-palette-container div{
  width: 100%;
  height: 80px; 
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: transform .15s;
}
.color-palette-container div:hover{
  transform: scale(1.2);
  cursor: pointer;
}
